.message-container {
    padding: 5px 2px 2px 2px;
    border-bottom: 1px solid rgba(76, 177, 235, 0.719);
 
    background-color: rgba(224, 246, 255, 0.651);
    text-align: left;
    
}

p {
    margin-left: 10px;
    margin-top: -1px;
}


.messages-container {
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    max-height: 300px;
    min-height: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.messages-container::-webkit-scrollbar {
    display: none;
    width: 0;
    background-color: transparent;
}

.chat-container {
    border-radius: 15px;
    display: inline-block;
    padding: 10px;    
    width: 150%;
}

.chat-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
}


.chat-input-input {
    width: 80%;
    padding-left: 10px;
    min-width: 15em;
    height: 37px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    transition: all 250ms ease-in-out;
  }
  
  .chat-input-input:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 14px 0.3px #0e81ce96;
  }
  
  .chat-input-input:focus {
    outline: none;
    box-shadow: 0px 0px 12px 0.8px #3474dbb2;
  }

.chat-button {
    background-color: rgb(124, 154, 199);
    width: 20%;
    min-width: 90px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.user-header {
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}

.date-header {
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
}

.chat-and-lobby {
    display: flex;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 15px;
    margin: 10px;
    min-width: 600px;
    box-shadow: 0px 0px 12px 1px rgba(128, 128, 128, 0.3);

}

.lobby-container {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 13px 13px 0px;
    border-left: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    
}

.lobby-list-container {
    max-height: 350px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.lobby-list-container::-webkit-scrollbar {
    display: none;
    width: 0;
    background-color: transparent;
}

.lobby-user {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    border-bottom: 1px solid rgba(76, 177, 235, 0.719);
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.lobby-user:hover {
    background-color: rgba(224, 246, 255, 0.651);
    cursor: pointer;
}